#Ansible installed file

server {
    listen {{ ansible_default_ipv4.address }}:80;
    server_name {{ server_name }};

    root {{ root }};
    index {{ index }};

    location / {
        try_files $uri $uri/ =404;
    }


}
